{% load static %}

<footer class="bg-white border-top text-center">
    <div class="footer-content">
      <h3>FITnFIT</h3>
      <p>Join us on our different networks !</p>
      <ul class="socials px-0">
          <li><a href="https://www.instagram.com/altairfly/" target="_blank"><i class="bi bi-facebook d-inline px-2 colorScial"></i></a></li>
          <li><a href="https://www.instagram.com/altairfly/" target="_blank"><i class="bi bi-instagram d-inline px-2 colorScial"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC6t1wP1NmLSOEJQZvXjzOWw" target="_blank"><i class="bi bi-youtube d-inline px-2 colorScial"></i></a></li>
          <li><a href="https://twitter.com/Altairfly" target="_blank"><i class="bi bi-twitter d-inline px-2 colorScial"></i></a></li>
      </ul>
    </div>
    <div class="py-2">
      <p>Designed by Ankit and Rinchen<span class="text-secondary"></span></p>
    </div>
</footer>